<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card border-secondary mb-3">
        <div class="card-header" style="background-color: darkred; color: white;">
          <div class="row">
            <div class="col-6" style="padding-top: calc(.375rem + 1px); padding-bottom: calc(.375rem + 1px);">Field
              Management</div>
            <div class="col-6">
              <div class="form-group row m-0">
                <label class="col-6 col-form-label text-right">Select Project:</label>
                <!-- <select class="col-6 form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select> -->
                <select (change)="onProjectChange($event.target.value)">
                  <option *ngFor="let case of caseList" value={{case.ProjectId}}>
                    {{case.ProjectName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body text-secondary">
          <div class="accordion" id="accordion">
            <div class="card">
              <div class="card-header card-head " id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne" role="link">
                <h5 class="mb-0 card-heading">
                  Custom Fields
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <app-custom-field></app-custom-field>


                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header card-head collapsed" id="headingTwo" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h5 class="mb-0">
                  Field Security
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">


                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header card-head collapsed" id="headingThree" data-toggle="collapse"
                  data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h5 class="mb-0">
                    Field Display Setting
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">

                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>