<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link"  style="cursor: pointer" (click)="logout()">Logout</a>
  </div>
</nav>

<div class="my-5">
  <router-outlet></router-outlet>
</div>

