<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="link text-capitalize text-right my-2">
        <a href=""><i class="fas fa-plus-circle"></i> Create custom field using template:</a>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group row mx-0">
        <label class="col-4 col-form-label text-right">Field Name:</label>
        <input type="text" class="form-control col-8"  [(ngModel)]="customFieldItem.fieldName">
      </div>
      <div class="form-group row mx-0">
        <label class="col-4 col-form-label text-right">Display Name:</label>
        <input type="text" class="form-control col-8"  [(ngModel)]="customFieldItem.displayName">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group row mx-0">
        <label class="col-4 col-form-label text-right">Notes:</label>
        <textarea class="form-control col-8" rows="3" [(ngModel)]="customFieldItem.notes"></textarea>
      </div>
    </div>
  </div>
  <hr style="margin-left: -35px; margin-right: -35px;">
  <h6>Field Values</h6>
  <div class="row">
    <div class="col-6">
      <div class="form-group row mx-0">
        <label class="col-4 col-form-label text-right">Type:</label>
        <select class="col-8 form-control" [(ngModel)]="customFieldItem.fieldValues.type" name="type">
          <option>Type A</option>
          <option>Type B</option>
          <option>Type C</option>
          <option>Type D</option>
          <option>Type E</option>
        </select>
      </div>
    </div>
    <div class="col-6"></div>
    <div class="col-4">
      <div class="form-group row mx-0">
        <label class="col-5 col-form-label text-right">Length:</label>
        <select class="col-7 form-control" [(ngModel)]="customFieldItem.fieldValues.length" name="length">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group row mx-0">
        <label class="col-5 col-form-label text-right">Precision:</label>
        <select class="col-7 form-control" name="precision" [(ngModel)]="customFieldItem.fieldValues.precision">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group row mx-0">
        <label class="col-5 col-form-label text-right">Scale:</label>
        <select class="col-7 form-control" name="scale" [(ngModel)]="customFieldItem.fieldValues.scale">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="col-5">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="inlineRadio1" name="emptyValueRadio" checked>
        <label class="form-check-label" for="inlineRadio1">Allow Empty Value</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="inlineRadio2" name="emptyValueRadio">
        <label class="form-check-label" for="inlineRadio2">Do Not Allow Empty Value</label>
      </div>
    </div>
    <div class="col-7">

      <div class="form-group row mx-0">
        <label class="col-10 col-form-label text-right">Specify default value to use in case of empty
          value</label>
        <input type="text" class="form-control col-2" name="defaultValue" [(ngModel)]="customFieldItem.fieldValues.defaultValue">
      </div>

    </div>
  </div>
  <hr style="margin-left: -35px; margin-right: -35px;">
  <h6>Coding</h6>
  <div class="row">
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="allowCodingCheckbox" name="allowCodingCheckBox" [(ngModel)]="customFieldItem.coding.allowCoding">
        <label class="form-check-label">
          Allow Coding
        </label>
      </div>

    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="col-4 col-form-label">Coding Values</label>
        <textarea class="form-control col-8" rows="3" name="codingValues" [(ngModel)]="customFieldItem.coding.codingValues"></textarea>
        <small class="form-text" style="color: red;">NOTE: Type Each Coding Value on Each Line</small>
      </div>
    </div>
    <div class="col-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="allowMultipleValueCheckBox" name="allowMultipleValueCheckbox" [(ngModel)]="customFieldItem.coding.allowMultiple">
        <label class="form-check-label" for="allowMultipleValueCheckBox">
          Allow Multiple Value
        </label>
      </div>
      <div class="form-group row mx-0">
        <label class="col-5 col-form-label text-right">Delimeter:</label>
        <select class="col-7 form-control" name="delimeter" [(ngModel)]="customFieldItem.delimeter">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="allowPredefinedValuesCheckbox" name="allowPredefinedValuesCheckbox" [(ngModel)]="customFieldItem.coding.allowPredefinedValues">
        <label class="form-check-label" for="allowPredefinedValuesCheckbox">
          Allow Predefined Values Only
        </label>
      </div>
    </div>
  </div>
  <hr style="margin-left: -35px; margin-right: -35px;">
  <div class="row">
    <div class="col-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="makeSearchableCheckBox" name="makeSearchableCheckBox" [(ngModel)]="customFieldItem.makeSearchable">
        <label class="form-check-label" for="makeSearchableCheckBox">
          Make Searchable
        </label>
      </div>
    </div>
    <div class="col-6">
      <div class="align-item-justified-right text-right">
        <button type="button" class="btn btn-outline-secondary mx-2" (click)="addCustomField();">Add</button>
        <button type="button" class="btn btn-outline-secondary mx-2">Clear</button>
      </div>

    </div>
    <div class="col-12">
      <table class="table table-hover my-2">
        <thead>
          <tr>
            <th scope="col">Field Name</th>
            <th scope="col">Display Name</th>
            <th scope="col">Field Type</th>
            <th scope="col">Length</th>
            <th scope="col">is Searchable</th>
            <th scope="col">Allow Null Value</th>
            <th scope="col">Default Value</th>
            <th scope="col">Precision</th>
            <th scope="col">Scale</th>
            <th scope="col">Allow Coding</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let field of customFieldList">
            <th scope="row">{{field.fieldName}}</th>
            <th scope="row">{{field.displayName}}</th>
            <th scope="row">{{field.fieldValues.type}}</th>
            <th scope="row">{{field.fieldValues.length}}</th>
            <th scope="row">{{field.makeSearchable}}</th>
            <th scope="row">{{field.fieldValues.allowEmpty}}</th>
            <th scope="row">{{field.fieldValues.defaultValue}}</th>
            <th scope="row">{{field.fieldValues.precision}}</th>
            <th scope="row">{{field.fieldValues.scale}}</th>
            <th scope="row">{{field.coding.allowCoding}}</th>
            <th scope="row"><button class="btn btn-secondary btn-sm"><i class="far fa-edit"></i></button></th>
            <th scope="row"><button class="btn btn-secondary btn-sm"><i class="far fa-bin"></i></button></th>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>